body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

input, button {
  padding: 8px;
  margin: 5px;
}

ul {
  list-style: none;
}
li button {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
